@import "tailwindcss";


:root {
  /* base */
  --color-background: #fcfcfc;
  --color-text: #111111;
  --color-subheading: #2c2c2c;

  /* links */
  --color-link: #1b3a6b;
  --color-link-hover: #2E5AA8;

  /* accent */
  --color-accent: #DE7D97;
  --color-accent-light: #FBEFF2;
  --color-accent-tag: #F0C4CF;
}

@theme {
  /* colors */
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-subheading: var(--color-subheading);

  --color-link: var(--color-link);
  --color-link-hover: var(--color-link-hover);

  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --color-accent-tag: var(--color-accent-tag);


  /* animations */
  --animate-fade-up: fadeUp 0.8s ease-out forwards;

  @keyframes fadeUp {
    0% { opacity: 0; transform: translateY(3rem); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

.animate-target {
  opacity: 0;
}

.animated-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: var(--color-link);
  background-image: linear-gradient(var(--color-link-hover), var(--color-link-hover));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 8%;
  transition: background-size .3s;
}

.animated-link:hover, .animated-link:focus {
  background-size: 100% 8%;
  color: var(--color-link-hover);
}


/* text */
.heading-text {
  font-family: var(--font-heading);
  font-size: clamp(5rem, 16vw, 37rem);
  text-align: center;

  color: var(--color-text);

  text-decoration: underline;
  text-decoration-thickness: 0.19rem;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--color-accent);
}

.body-text {
  font-family: var(--font-body);
  font-size: clamp(1rem, 1.9vw, 4.6rem);

  color: var(--color-text);
}

.subheadings {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: clamp(1.8rem, 3.5vw, 14rem);

  color: var(--color-subheading);
}

.third-level-headings {
  font-family: var(--font-body);
  font-weight: 600;

  color: var(--color-accent);
}


/* links */
a:link, a:visited {
  color: var(--color-link);
}
a:hover, a:active {
  text-decoration-color: var(--color-link-hover);
}
a {
  text-decoration: underline;
  text-decoration-thickness: 1;
  text-underline-offset: 4px; /* to match underline with animation */
  text-decoration-color: var(--color-link);

  background-image: linear-gradient(var(--color-link-hover), var(--color-link-hover));
  background-position: 0% 100%; /* 100% to be at bottom of line (y) */
  background-repeat: no-repeat;
  background-size: 0% 8%; /* 0% to hide */
  transition: background-size .3s;
}
a:hover, a:focus {
  background-size: 100% 8%; 
  color: var(--color-link-hover);
}

/* nav bar */
.nav-bar-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  font-size: clamp(1.5rem, 2vw, 5rem); /* linearly scale css font size using clamp() */
  text-align: center;

  float: left;

  text-decoration: none;
}



/* homepage */
.headshot {
  clip-path: circle();

  width: clamp(18rem, 34vw, 90rem);
  aspect-ratio: 1; /* force circle */
}

.typing-animation {
  display: inline-block; /* keep blinking cursor to the edge of text */
  white-space: nowrap;
  overflow: hidden; /* hide text until typed */
  border-right: 0.12em solid var(--color-text); /* blinking cursor */
  width: 0; /* start with nothing visible */
  
  animation: 
    typing 3.5s steps(65, end) forwards, /* typing effect */
    blink-caret 0.75s step-end infinite; /* cursor blink */
}
/* typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 48.5ch } /* reveals full text */
}
/* blinking cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-text) }
}


/* service.html */
.slide-img {
  width: 50rem;
  height: 27rem;
  object-fit: contain; /* dont crop */
}

.photo-captions {
  font-family: 'Lora',serif; 
  font-weight: 400; 
  font-size: clamp(1rem,1.4vw,4.5rem);
  color: var(--accents);
  text-align: center;
  margin: 3px 0px 0px 0px;
}

.numbertext {
  text-align: center;
  
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: clamp(1rem, 1.3vw, 3.5rem);
  white-space: nowrap;

  margin: auto;
  padding-top: 4%;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 2vw, 3rem);
  width: clamp(6rem, 10vw, 22rem);
  font-size: clamp(2.5rem, 2vw, 4rem);
  align-items: center;
  margin: auto;
}

.arrows a {
  text-underline-offset: 11px;
}

/* qualifications page */
.category-item {
  cursor: pointer;
  padding: 5px;
}

.category-item:focus,
.category-item:focus-visible {
  outline: none;
  box-shadow: none;
}

.active {
  background: var(--color-accent-tag);
  border-radius: var(--radius-md); /* 0.5rem (8px) */
}

.course-item {
  cursor: pointer;
  padding: 5px 2px;
}